.product-list-container {
  padding: 20px;
  text-align: left;
  height: min-content;
  border: 1px solid #869cc6;
  border-radius: 5px;
}

.product-list {
  line-height: 20px;
}
.product-category {
  color: var(--color-subtext);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

li {
  list-style: none;
  color: var(--color-subtext);
  font-size: 0.8rem;
}

.carousel-root {
  margin-bottom: 20px;
}

.slider-wrapper {
  max-height: 200px ;
}

.slider img {
  width: 80%;
}

@media screen and (min-width: 695px) {
  .product-list-container:nth-child(1) {
    grid-row: span 1
  }
  .product-list-container:nth-child(2) {
    grid-row: span 2;
  }
  .product-list-container:nth-child(3) {
    grid-row: span 3;
  }
  .product-list-container:nth-child(4) {
    grid-row: span 1;
  }
  .product-list-container:nth-child(5) {
    grid-row: span 5;
  }
  .product-list-container:nth-child(6) {
    grid-row: span 7;
  }
  .product-list-container:nth-child(7) {
    grid-row: span 8;
  }
  .product-list-container:nth-child(8) {
    grid-row: span 6;
  }
  .product-list-container:nth-child(9) {
    grid-row: span 6;
  }
  .product-list-container:nth-child(10) {
    grid-row: span 1  ;
  }
  .product-list {
    width: 280px;
    line-height: 28px;
  }
}

@media screen and (min-width: 750px) {
  .product-category {
    font-size: 1.4rem;
  }
  li {
    font-size: 1rem;
  }
}