* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient_bg {
  /* yellow-gradient-background background: radial-gradient(circle at 3% 25%, rgba(255, 232, 141, 1) 0%, rgba(255, 204, 0, 1) 100%); */
  /* dark-blue-gradient-background background: radial-gradient(circle at 18% 25%, rgba(0, 10, 82, 1) 0%, rgba(48, 68, 210, 1) 100%); */
  background-color: rgba(0, 10, 82, 1);
}

.gradient_text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-animation-clip: text;
  -webkit-text-fill-color: transparent;
}

.section_padding {
  padding: 4rem 6rem;
}

.section_margin {
  margin: 4rem 6rem;
}

.cta-button {
  padding: 0.5rem 1rem;
  color: var(--color-primary);
  background: var(--color-cta-button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 360px) {
  .cta-button {
    padding: 0.4rem 0.9rem;
    font-size: 14px;
  }
} 

/* .container {
  padding: 0 40px;
} */
/* 
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
} */