@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
  --font-size: 24px;
  --font-family: 'Manrope', sans-serif;
  --color-primary: #000A52;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #F2F6FF;
  --color-footer : #031B34;
  --color-text: #fff;
  --color-subtext: #22417B;
  --color-cta-button: #FDD424;
  --color-header-primary: #E5BB0B;
}