.products-section {
  padding: 2.25rem 1.75rem;
  text-align: center;
}

.border {
  margin-top: 10px;
  height: 4px;
  background-color: #FDD424;
  position: relative;
  left: 50%;
  width: 70px;
  transform: translate(-40%)
}

.products-section-text .products-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.products-section-text .products-subtitle {
  font-size: 0.75rem;
  opacity: 0.7;
  font-weight: 600;
  margin-bottom: 35px;
}

.products-title, .products-subtitle {
  color: var(--color-subtext);
}

@media screen and (min-width: 376px) {
  .products-section {
    padding: 2.25rem 1.75rem;
  }

  .products-section-text .products-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  .products-section-text .products-subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 680px) {
  .products-section {
    padding: 60px 80px;
  }
}