.products-section {
  padding: 2.25rem 1.75rem;
  text-align: center;
}

.border {
  margin-top: 10px;
  height: 4px;
  background-color: #FDD424;
  position: relative;
  left: 50%;
  width: 70px;
  transform: translate(-40%)
}

.products-section-text .products-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.products-section-text .products-subtitle {
  font-size: 0.75rem;
  opacity: 0.7;
  font-weight: 600;
  margin-bottom: 35px;
}

.products-title, .products-subtitle {
  color: var(--color-subtext);
}

@media screen and (min-width: 376px) {
  .products-section {
    padding: 2.25rem 1.75rem;
  }

  #homepage-products-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  #homepage-products-subtitle {
    font-size: 0.75rem;
  }

}

@media screen and (min-width: 695px) {
  .products-section {
    padding: 60px 80px;
  }
}

@media screen and (min-width: 1100px) {
  .products {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(2,470px);
    max-width: 1000px;
    margin: auto;
    padding-top: 20px;
    column-gap: 5px;
  }

  .products-subtitle {
    max-width: 770px;
    margin: 0 auto 35px;
  }
}